<article>
  <% @blogs.each do |blog| %>
      <div class="large-9 panel push-1 radius blog_article_bg">
        <div class="row">
          <div class="large-6 columns">  
            <%= sanitize(blog.image_url) %>
          </div>
          <div class="large-6 columns">
            <h3><%= blog.title %></h3>
            <h6>Written on <%= blog.updated_at.strftime('%b %d, %Y') %></h6>
            <p><%= blog.description %></p>  
          </div>
        </div>      
      </div>
  <% end %>
</article>
 


