<div class="row">
 
    <!-- Contact Details -->
    <div class="large-7 columns  push-2">
      <%= image_tag 'body_frame.png', class:'contact_bg' %>
      <div class="large-6 push-1">
        <h4 style="color:#ff2222;margin-top:6%">Be Expressive !</h4>

      <legend style="color:white">Share your thoughts and Stay in touch.</legend>
            <hr></div>
  <form action="">
      <div class="row">
        <div class="large-5 columns push-1">
          <label for="">Name</label>
          <input type="text">
        </div>
        <div class="large-5 columns pull-1">
          <label for="">Email</label>
          <input type="text">
        </div>
      </div>
      <div class="large-10 push-1">
          <label for="">Subject</label>
          <textarea name="" id="" cols="30" rows="10"></textarea>
      </div>
  </form>
    </div>
  </div>

