/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */


				// animation for logo on first start

// starting position
.start_logo{
	position: absolute;
	z-index: 2;
	margin-top: 30%;
	margin-left: -420%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);

}
.start_name{
	position: absolute;
	z-index: 2;
	margin-left: 200%;
	margin-top: 100%;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

// end position

.header_logo1{
	position: absolute;
	margin-top: 30%;
	margin-left: 0;
	z-index: 2;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.header_logo2{
	position: absolute;
	margin-top: 58%;
	margin-left: 0;
	z-index: 2;
}
 											
// header style

header{
	width: 100%;
	height: 350px;
	background-color: black;

	.header_bg1{
		position:absolute;
		z-index: 2;
		height: 100%;
		width: 100%;
		display: none;
	}
	.relative{
		position:relative;
		height: 350px;
	}
}
.menu{
	position: relative;
	height: 150px;
	nav{
		position:absolute;
		z-index: 2;
		margin-left: 25px;
	}
	nav:first-child{
		padding-left: 24px;

	}

	.header_violin{
		position: absolute;
		width: 100%;
		}
}

// footer style

footer{
	width: 100%;
	height: 100px;
	background: black;
}

// middle space header and footer

.top_space{
	width: 100%;
	height: 150px;
}
.down_space{
	width: 100%;
	height: 50px;
}