/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require_tree .
 */


				// animation for logo on first start

// starting position
.start_logo{
	position: absolute;
	z-index: 2;
	margin-top: 30%;
	margin-left: -420%;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
	transform: rotate(-360deg);
	-webkit-transform: rotate(-360deg);
	-moz-transform: rotate(-360deg);
	-o-transform: rotate(-360deg);
	-ms-transform: rotate(-360deg);

}
.start_name{
	position: absolute;
	z-index: 2;
	margin-left: 200%;
	margin-top: 100%;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

// end position

.header_logo1{
	position: absolute;
	margin-top: 30%;
	margin-left: 0;
	z-index: 2;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}
.header_logo2{
	position: absolute;
	margin-top: 58%;
	margin-left: 0;
	z-index: 2;
}
 											
// header style

header{
	width: 100%;
	height: 350px;
	background-color: black;

	.header_bg1{
		position:absolute;
		z-index: 2;
		height: 100%;
		width: 100%;
		display: none;
	}
	.relative{
		position:relative;
		height: 350px;
	}
}
.menu{
	position: relative;
	height: 150px;
	nav{
		position:absolute;
		z-index: 2;
	}
	.nav_left{
		left:12%;

	}
	.nav_right{
		right: 20%;
	}

	.header_violin{
		position: absolute;
		width: 100%;
		}
}

// footer style

footer{
	width: 100%;
	height: 50px;
	background: black;
	margin-top: 5%;
}

// middle space header and footer

.top_space{
	width: 100%;
	height: 150px;
}
.down_space{
	width: 100%;
	height: 50px;
}

 // Administration

.administration{
 	position: absolute;
	height:45px;
	z-index:4;
	top:-45px;
	.admin_jumper{
		width: 60px;
		height: 20px;
		background-color: rgba(216,0,9,1);
		top:40px;
		right:6px;
		position: absolute;
		border-radius: 0 0 100% 100%;
		cursor: pointer;
	}
	.admin_jumper_sign_in{
		width: 85px;
		height: 20px;
		background-color: rgba(216,0,9,1);
		top:40px;
		right:6px;
		position: absolute;
		border-radius: 0 0 100% 100%;
		cursor: pointer;
	}
}

 .isDown{
 	.admin_jumper{
 		background-color: black;
 		&:hover{
 			background-color: rgba(216,0,9,1);
 		}
 	}
 }

.admin_panel{
	position: absolute;
	display: none;
	background-color: rgba(0,0,0,.8);
	width: 450px;
	height: 250px;
	z-index:5;
	left: -32px;
	top: 45px;
	border: 1px solid rgba(248,248,248,.1);

	img.up_arrow{
		position: absolute;
		right:10px;
		z-index:9;
	}
}


#icon_new{
	width: 40%;
	height: 50%;
	padding: 1% 5% 0 10%;
	margin:0 auto;
	img:first-child{
		position:absolute;
		z-index:3;
		width: 100px;
		height: 100px;
		cursor: pointer;
	}
	img:last-child{
		position:absolute;
		z-index:2;
		display: none;
		width: 100px;
		height: 100px;
	}
}
#icon_edit{
	width: 40%;
	height: 50%;
	float:left;
	padding: 0 5% 2% 10%;
	img:first-child{
		position: absolute;
		z-index: 3;
		width: 100px;
		height: 100px;
		cursor: pointer;
	}
	img:last-child{
		position: absolute;
		z-index: 2;
		display: none;
		width: 100px;
		height: 100px;
	}
}
#icon_destroy{
	width: 40%;
	height: 50%;
	float:right;
	padding: 0 5% 2% 10%;
	img:first-child{
		position: absolute;
		z-index: 3;
		width: 100px;
		height: 100px;
		cursor: pointer;
	}
	img:last-child{
		position: absolute;
		z-index: 2;
		display: none;
		width: 100px;
		height: 100px;
	}
}

// animation for admin panel

.rotate{
	transition: all .8s ease-out linear;
	top: 30px;
	left: 140px;
}

// end

#news_form{
	width: 90%;
	height: 100px;
	position: absolute;
	right: 5%;
	margin-top: -90px;
	display:none;
}