// Place all the styles related to the Bios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bios_bg{
	position:absolute;
	z-index: -1;
	width: 100%;
	height: 106%;
	margin-top:-3%;
}