// Place all the styles related to the Performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.left{
	float:left;
}
.center{
	text-align: center;
}
table thead tr th, table tbody tr td{
	color:black;
}

.pick_year{
	background: url(body_frame.png);
}
