// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.body_frame{
	width: 100%;
	height: 100%;
	position: absolute;
}
p, h6, h4,h1{
	color:white;
}

.main_article_bg{
	background: url(body_frame.png) no-repeat;
	min-height: 700px;
}
.main_title_blog{
	margin-top: 40px;
}

.welcome_events{
	position: absolute;
	z-index:-1;
	width: 100%;
	height: 100%;
	left:0;
	top:0;
}
 

