// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome_top{
	width: 100%;
	height: 150px;
}
.welcome_bottom{
	width: 100%;
	height: 50px;
}
.welcome{
	.body_frame{
		width: 50%;
		height: 100%;
		margin-left: 5%;
	}
	
}