<div class="row">
  <div class="large-12 columns">
    <table class="blog_article_bg">
        <tr>
          <th width="100" >Date</th>
          <th width="150" >Location</th>
          <th>Description</th>
        </tr>
      </thead>

      <tbody>
        <% @current_year.each do |performance| %>
          <tr>
            <td><%= performance.date.strftime('%b %d , %Y') %></td>
            <td><%= performance.location %></td>
            <td><%= truncate(performance.description, length: 100) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>