<div class="large-8">
<h1>My Tour Concerts</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Location</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @performances.each do |performance| %>
      <tr>
        <td><%= performance.date %></td>
        <td><%= performance.location %></td>
        <td><%= performance.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
